{% extends "base.html" %}
<!-- add a block body that will contain contents of this page -->
{% block body %}
    <!-- include the top menu here -->
    {% include 'top_menu.html' %}
    <!-- <h1 class="elements_space" style="background-color: #E89C31;"> Affirmations </h1> -->
    <button class="btn form-control-lg elements_space action_button" type="button">
        <h1>Affirmations</h1>
    </button>
    <h3  class="elements_space">Reminder</h3>
    <p class="elements_space" style="font-size:20px;">You are on track its literally playing out how its supposed to.Watch and see exactly how it all comes together</p>
    <hr class="elements_space">

{% endblock %}
<!-- end of block content -->
