{% extends "base.html" %}
{% block title %}Home{% endblock %}

<!-- add a block body that will contain contents of this page -->
{% block body %}
  <!-- includes the logo section here from logo.html -->
  {% include 'logo_section.html' %}
  <!-- add another row using bootstrap grids -->
  <div class="row">
    <!-- user bootstrap column grids to center the contents -->
    <div class="col-md-4"></div>
    <!-- only use the middle row for content -->
    <div class="col-md-4">
      <div class="center_align" id="sign_in_form">
        <h1 class="elements_space" >Sign In</h1>
        <!-- add the sign in form here -->
        <input class="form-control form-control-lg elements_space" type="text" placeholder="Email/Username" aria-label=".form-control-lg example">
        <input class="form-control form-control-lg elements_space" type="text" placeholder="Password" aria-label=".form-control-lg example">
        <div class="d-grid gap-2">
          <button class="btn form-control-lg elements_space action_button" type="button">SIGN IN</button>
        </div>
        <div id="button_links" class="elements_space">
          <p>
            <span class="floatleft">
              <a href="/reset_password">Forgot Password?</a>
            </span> 
            <span class="floatright">
              <a href="/sign_up">Not a member yet?</a>
            </span> 
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>

  <script>
    console.log("index page")
  </script>

{% endblock %}
<script>
  console.log("index page")
</script>
<!-- end of block content -->
