{% extends "base.html" %}
{% block title %}Home{% endblock %}

<!-- add a block body that will contain contents of this page -->
{% block body %}
  <!-- includes the logo section here from logo.html -->
  {% include 'logo_section.html' %}
  <!-- add another row using bootstrap grids -->
  <div class="row">
    <div style="margin-top:100px;">
        <h1 class="elements_space center_align" >Reset Password</h1>
        <p class="elements_space center_align">Enter the email associated with your account and we'll send an email with instructions to reset your password.</p>
    </div>
    <!-- user bootstrap column grids to center the contents -->
    <div class="col-md-4"></div>
    <!-- only use the middle row for content -->
    <div class="col-md-4">
      <div class="center_align" id="sign_in_form"  style="margin-top:0px;">
        
        <!-- add the sign in form here -->
        <input class="form-control form-control-lg elements_space" type="text" placeholder="Enter your email" aria-label=".form-control-lg example">
        <div class="d-grid gap-2">
            <button class="btn form-control-lg elements_space action_button bold" type="button"
            style="margin-right:100px;margin-left:100px;">
              RESET
            </button>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>

{% endblock %}
<!-- end of block content -->
