{% extends "base.html" %}
{% block title %}Home{% endblock %}

<!-- add a block body that will contain contents of this page -->
{% block body %}
  <!-- includes the logo section here from logo.html -->
  {% include 'logo_section.html' %}
  <!-- add another row using bootstrap grids -->
  <div class="row">
    <!-- user bootstrap column grids to center the contents -->
    <div class="col-md-4"></div>
    <!-- only use the middle row for content -->
    <div class="col-md-4">
      <div class="center_align" id="sign_in_form">
        <h1 class="elements_space" >Sign Up</h1>
        <!-- add the sign in form here -->
        <input class="form-control form-control-lg elements_space" type="text" placeholder="Email" aria-label=".form-control-lg example">
        <input class="form-control form-control-lg elements_space" type="text" placeholder="Set Password" aria-label=".form-control-lg example">
        <input class="form-control form-control-lg elements_space" type="text" placeholder="Confirm Password" aria-label=".form-control-lg example">
        <div class="d-grid gap-2">
          <button class="btn form-control-lg elements_space action_button" type="button">SIGN IN</button>
        </div>
        <div id="button_links" class="elements_space">
            <p>
                Already a user? 
                <a href="/" style="color:#E89C31;">Login Here</a>
            </p>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>

{% endblock %}
<!-- end of block content -->
